/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
    }
    body {
       height: 100%;
       background-image: url(sea.jpg);
       background-repeat: no-repeat;
       background-size: 900%; 
    }

    header {
        background-color: #FFF1F4;
        padding: 5px;
        border: 10px solid #000000; 
        margin: 40px;
        font-size: 30px;
        display: block;
        width: 790px;
    }
    nav {
        line-height: 1.0;
        background-color: red;
        background: url(travelingpicture.jpg);
        width:125px;
        display: inline-block;
        vertical-align: top;
    }
    nav ul {
        list-style-type: none;
        list-style-position: outside;
    }
    nav ul li {
        margin: 8.0 -2em 8.0 -2em;
        font-size: 12px;
    }
    a {
        color: #1828EF;
    }
    section {
        width: 516px;
        display: inline-block;
    }
    aside {
      width: 245px;
      display: inline-block;
      vertical-align: top;
      background-color: #000000;
      font-size: 20px;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color: #0CBA93;
        text-align: center;
        padding:5px;
        display: block;
    }


    h1 {
        text-align: center; 

    }